/*Content Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, il,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
  font-size: normal;
}
em, i {
  font-style: italic;
  font-size: normal;
}
a img {
  border: none;
}
/* END RESET*/



/* GLOBAL CHANGES */

  /* Color Definitions */
    :root {
      --mainTextColor: #031424;
      --linkColor: #91332d;
      --accentColor: #02558B;
      --backgroundColor: #FFF;
      --headerColor: #E8E8E8;
      --tableAccent: #b6b6b6;
    }

  /* Global Fonts/Text */
    body {
      width: 100%;
    }

    /* h1, h2, h3, h4, h5, h6, header a, footer a, td, th, input, .calculatorContents p{
      font-family: 'Open Sans', Arial, Helvetica, sans-serif
    }

    p, table, li, ol, ul, blockquote, em, strong{
      font-family: 'Roboto Slab', serif;
    } */

    h1, h2, h3, h4, h5, h6, header a, footer a, td, th, input, table, .navList li a{
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    p, a, li, ol, ul, em, strong, blockquote {
      /*font-family: 'Roboto Slab', Times, serif;*/
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--accentColor);
    }

    p, table, li, ol, ul, em, strong, blockquote {
      color: var(--mainTextColor);
    }

    h1, h2, h3, h4, p, a {
      margin: 1em 0 0.25em 0;
    }

    p, li {
      text-align: left;
    }

    h1 {
      font-size: 2em;
      font-weight: bold;
      font-variant: small-caps;
      border-bottom-color: var(--accentColor);
      border-bottom-width: medium;
      border-bottom-style: solid;
      overflow: hidden;
    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
    }

    h3{
      font-size: 1.25em;
      font-weight: bold;
    }

    h4{
      font-style: italic;
    }

    p {
      font-size: normal;
      line-height: 125%;
    }

    a:link, a:visited, a h2 {
        color: var(--linkColor);
        text-decoration: none;
        transition: color 0.25s ease;
    }

    a:hover {
      color: var(--accentColor);
    }

    ul, ol {
      margin-top: 1em;
      margin-bottom: 0.25em;
      padding-left: 0.05em; /*Prevents Cuttoff of Bullet Points*/
      list-style-position: inside; /* Moves Lists over to keep bullets in margins */
      overflow: hidden; /* Helps lists wrap ToC */
    }

    ul ul, ol ol, ul ol, ol ul {
      margin-left: 1em;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }

    .navList {
      list-style-type: none;
      margin-left: 0;
    }

    li, li li, li li li {
      margin: 0.25em 0;

    }

    .title {
      text-align: center;
      font-variant: small-caps;
      border-bottom-width: thick;
      border-bottom-style: double;
      font-size: 2.25em;
      padding-bottom: 0.1em;
      grid-column: 2/-2;
      grid-row: 2/3;
      padding-top: 0.5em;
    }

    code {
      font-family: 'Robot Mono', monospace;
      color: var(--mainTextColor);
      background: var(--tableAccent);
      border-radius: 2px;
      padding: 0em 0.25em;
      max-width: 100%;
    }

    hr {
      border-color: var(--accentColor);
      border-width: medium;
      margin: 1em 5%;
      border-style: double;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
      max-height: 1000px;
    }

    .caption {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0em;
      font-size: normal;
      padding-bottom: 0em;
      padding-top: 1.5em;
    }

    .center {
      text-align: center;
    }

    .toc sup, .toc .footnote {
      visibility: hidden;
    }

  /* TABLE FORMATTING */
    table {
      border-collapse: collapse;
      margin: 1em auto;
      /*border: medium var(--mainTextColor) solid;*/
      max-width:100%;
    }

    td, th {
      padding: 0.2em 0.5em;
      vertical-align: middle;
    }

    td[colspan]:not([colspan="1"]) {
      text-align: center;
      font-style: italic;
    }

      /* TABLE LINES */
        th {
          border-bottom: 1px single var(--mainTextColor);
          border-style: single;
          font-weight: bold;
        }

      /* TABLE SHADING */
        tbody > tr:nth-child(odd) {
          background-color: var(--tableAccent);
        }

  /* Global Screen Config */
    html{
      height: 100%;
      width: 100%;
    }

    body {
      display: grid;
      grid-template-columns: 15% 1fr 15%;
      grid-gap: 0.25em;
      min-height: 100%;
      grid-template-rows: auto auto 1fr auto auto;
      font-size: 12pt;
      background-color: var(--backgroundColor);
    }

    .twoCol {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }

    .col1 {
      grid-column: 1/2;
    }

    .col2{
      grid-column: 2/3;
    }


/* Navigation Bar */
  header {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
    background-color: var(--headerColor);
    position: fixed;
    width: 100%;
    z-index: 100;
  }

  header a {
    float: left;
    display: block;
    text-align: center;
    padding: 0.5em 0.75em;
    margin: 0;
    text-decoration: none;
    font-size: 1.25em;
  }

  header a:link, header a:visited, footer a:link, footer a:visited{
    color: var(--accentColor);
    font-weight: 900;
  }

  header a:hover {
    color: var(--linkColor);
  }

  header .icon {
    display: none;
  }

/* Total Page Contents */
  .contents {
    grid-column: 2 / -2;
    grid-row: 3 / 4;
  }

  @media screen and (min-width: 1389px) {
     body {
       grid-template-columns: 1fr 1250px 1fr;
     }
   }

/* Footer Formatting */
  footer {
    grid-column: 1 / -1;
    grid-row: -1 / -1;
    background-color: var(--headerColor);
  }

  footer a {
    float: left;
    padding: 1em 0.75em;
    margin: 0;
    font-size: 1.25em;
  }

  .footerLinks {
    display: flex;
    justify-content: center;
  }


/* Disclaimer Page */
  .disclaimer {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    grid-row-gap: 2em;
  }

/* Post Layouts */
  .post-list {
    list-style-type: none;
    margin-left: 0
  }

  .post-heading {
    text-align: center;
  }

  .post-heading hr{
    border-width: medium;
  }

  .post-content {
    border-style: solid;
    border-color: var(--mainTextColor);
    border-radius: 0.25em;
    border-width: medium;
    padding: 1em;
  }

/* Jekyll Page Formats */

  /* Labs */

  .chem7 {
    display: block;
    margin: 1em auto;
  }

  /* Diseases Pages */
    .credits{
      grid-row: -2 / -2;
      grid-column: 2 / 3;
      color: grey;
    }

    .credits p{
      text-align: right;
    }

  /* Calculator Layouts */
    .calculatorContents {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0.25em;
      font-size: 12pt;
      grid-column: 2/3;
      grid-template-rows: auto 1fr;
    }

    .calculatorContents p{
      grid-column: 1/3;
      margin-top: 0.1em;
      margin-bottom: 0.1em;
    }

    .calculatorContents .title{
      grid-column: 1/3;
      grid-row: 1/2
    }

    .calculatorContents table{
      border: none;
    }

    .calculator tbody > tr{
      background-color: var(--backgroundColor);
    }

    .calculator td{
      align: center;
    }

      /* Remove Incrementers on Numeric Fields */
      input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input[type="number"] {
          -moz-appearance: textfield;
      }

    .inputCol{
      grid-column: 1/2;
    }

    .calculator tr td[colspan]:not([colspan="1"]) {
      text-align: center;
      font-style: normal;
      font-weight: bold;
      padding-top: 1em;
      border-bottom: 1px black solid;
    }

    .inputCol table {
      margin: 0 2em 0 auto;
    }

    .outputCol{
      grid-column: 2/3;
      border-left: 1px solid var(--mainTextColor);
    }

    .outputCol table {
      margin: 0 auto 0 2em;
    }

    .doseTable {
      grid-column: 1/3;
      margin-left: auto;
      margin-right: auto;
    }

    .doseTable td {
      border: 1px var(--mainTextColor) solid;
      text-align: center;
    }

    .doseTable tr:first-child td:first-child {
      border-top: none;
      border-left: none;
    }
