/*Content Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, il,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/



/* Global */
body{
  background-color: #c4dbf6;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
  font-size: 100%;
}
a {
  color: #3b8beb;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}
p{
  margin: 1% 10%;
  text-align: justify;
}
h1{
  text-align: left;
  font-size: 2em;
  padding-bottom: 1%;
  margin: 2% 10% 1%;
  border-bottom: 1px solid black;
  color: #b23850
}
a h1{
  color: #3b8beb;
}
h2{
  text-align: left;
  font-weight: bold;
  font-size: 1.875em;
  margin: 2% 10% 1%;
}
h3{
  font-size: 1.5em;
  text-align: left;
  margin: 2% 10% 1%;
  text-decoration: underline;
  font-weight: bold;
}
ul, ol{
  margin: 1% 10%;
  padding-left: 1.1em;
}
il{
  display: list-item;
}
.credits{
  margin-top: 1em;
}
.credits p{
  text-align: right;
  color: #8590aa;
  margin: 1vh 10%;
}
/* Navigation */
.menus{
    background-color: #e7e3d4;
}
.menus a{
  color: #b23850;
  text-decoration: none;
  list-style-type: none;
}
.header {
    margin: 0 0 5px 0;
    padding: 1vh 0;
    width: 100%;
    display: inline-block;
    font-size: 2.5vh;
}
.nav-links{
  margin: 0;
  padding: 0;
}
.nav-links > li{
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
.nav-links > li a:hover {
    color: #8590aa;
}
.header img{
  float:left;
  height: 2.5vh;
  padding-right: 1vw;
  padding-left:  1vw
}
.nav-links > li ~ li {
  border-left: 1px solid #b23850;
}


/* Footer */
.footer img{
  height: 9.5vh;
  display: block;
  margin: auto;
}
.footer{
  display: block;
  text-align: center;
  font-size: 2.5vh;
  padding-bottom: 1px;
}
.footer-links > li{
  display: block;
  padding: 1vh 0 1vh;
}

/* Posts */
.post{
  margin-right: 12%;
  margin-left: 12%;
  display: block;
  background-color: #e7e3d4;
  padding: 0.5em 1em;
  border: 4px solid #8590aa;
  margin-top: 1em;
  margin-bottom: 1em;
}
.post h1, .post h2, .post p{
  margin: 1em 0;
}
.post-archive{
  margin-right: 10%;
  margin-left: 10%;
}
.post-archive h1, .post-archive h2, .post-archive p{
  margin: 2% 0;
}


/* Accordion */
button.accordion {
    cursor: pointer;
    width: 80%;
    text-align: left;
    transition: 0.4s;
    font-size: 2em;
    padding-bottom: 1%;
    margin: 2% 10% 1%;
    border: none;
    outline: none;
    background: #e7e3d4;
    color: #b23850;
}
div.panel {
    display: none;
}
button.accordion:after {
  content: ">";
  transform:rotate(90deg);
    float: right;
}
button.accordion.active:after {
    content: "-";
    transform: none
}
/* Disease Pages */
.disease-page h1{
  margin-top: 3%;
}
.disease-page h2~h2{
  margin-top: 2%;
}
.disease-titles{
  text-align: center;
  border-bottom: none;
}

/* Formulas */
.formulas math{
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

/* Labs */
table{
  margin: 1% 10%;
  text-align: justify;
}
tr~tr:hover{
  background: #8590aa;
}
th,
td{
  padding: 0.25em 1em;
  border-bottom: 1px solid #000;
}
th{
  font-weight: bold;
}
.chem7{
  margin-left: 10%;
}
