@media (max-width: 760px) {
  body {
    font-size: 14pt;
    text-align: left;
  }
  h1, h2, h3, ul, ol, il, p{
    margin: 3% 5% 1% 5%;
  }
  p{
    text-align: left;
  }
  button.accordion{
    width: 90% ;
    padding: 1.5% 1%;
    margin: 0% 5%;
  }
  h1, button.accordion {
    font-size: 1.3em;
  }
  h1{
    font-weight: bold;
  }
  h2 {
    font-size: 1.125em;
  }
  th, td {
    font-size: 11pt;
  }
  .footer{
    text-align: center;
  }
  .credits{
    font-size: 50%
  }
  hr {
    width: 80%;
  }

  /* Header */
  .header{
    font-size: 1em;
  }
  .nav-links > li{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .header img{
    height: 1em;
  }


  /* Footer */
  .footer{
    margin: 0
  }
  .footer-links{
    text-align: center;
    margin: 1% auto;
  }
  .footer img{
    margin-bottom: 2%;
  }

  /* Formulas */
  .formulas math{
    display: inline-block;
    align: left;
    margin-left: -15%;
    font-size: 80%;
    padding: 0;
  }

  /* Posts */
  .post-list{
    padding-left: 0;
  }

  .post-archive{
    margin-right: 1%;
    margin-left: 1%;
  }

  /* Tables */
  table{
    margin: 1% 5%;
    width: 90%
  }
  td, th{
    padding: 1%
  }
}
