@media screen and (max-width: 825px) {
  body {
    grid-template-columns: 2.5% 1fr 2.5%;
  }

  header li {
    float: none;
    text-align: center;
  }

  header a {
    font-size: 1.25em;
  }

  li, li a, li h1, li h2, li h3, li p, p, li li {
    text-align: left;
  }

  td {
    word-wrap: break-word;
  }

  .chem7 {
    display: block;
    margin: 0 auto;
  }

  img, svg{
    max-width: 95%;
  }

  .twoCol{
    display: block
  }

  /* Calculators Layout */
  .calculatorContents {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  .inputCol{
    grid-column: 1/2;
    grid-row: 2/2;
  }

  .inputCol table {
    margin: 0.5em auto;
  }

  .outputCol{
    grid-column: 1/2;
    grid-row: 3/3;
    border-top: 1px solid var(--accentColor);
    border-left: none;
  }

  .outputCol table {
    margin: 0.5em auto;
  }

}
