---
layout: calculator
author: Corbin Cox
title: Aminoglycoside Initial Dosing
---
<div class="inputCol">
  <table class="calculator">
    {% include /calculatorBits/demographicInfo.html %}
    {% include /calculatorBits/crclInput.html %}
    {% include /calculatorBits/vdRangeAndInput.html %}
    {% include /calculatorBits/peakTroughInput.html %}
    {% include /calculatorBits/infusionTimeMaxPeakInt.html %}
    {% include /calculatorBits/tauAndMD.html %}
  </table>
</div>

<div class="outputCol">
  {% include /calculatorBits/crclOutput.html %}
  <br>
  {% include /calculatorBits/pkOutput.html %}
  <br>
  {% include /calculatorBits/doubleCheck.html %}
</div>



<script src={{site.baseurl}}/javascript/aminoglycosides.js></script>
<script>
function allResults() {
  printResult("cgCrClOutput",cgCrCl());
  printResult("ckdEpiOuput",ckdEpi());
  printResult("ckdEpiBSAOutput",ckdEpiBSA());

  printResult("kOutput",k());
  printResult("halfLifeOutput",halfLife());
  printResult("lowVdOutput",lowVolume());
  printResult("highVdOutput",highVolume());
  printResult("tauCalc",tauCalc());
  printResult("mdCalc",maintenanceDoseCalc())
  printResult("mdD",md());
  printResult("tauD",tau());
  printResult("cmaxE",cmaxE());
  printResult("cpkE",cpkE());
  printResult("cminE",cminE());
}
</script>
