---
layout: calculator
author: Corbin Cox
title: Aminoglycoside Initial Dosing
---
<div class="inputCol">
  <table class="calculator">
    {% include /calculatorBits/demographicInfo.html %}
    {% include /calculatorBits/crclInput.html %}
    {% include /calculatorBits/vdRangeAndInput.html %}
    {% include /calculatorBits/peakTroughInput.html %}
    {% include /calculatorBits/infusionTimeMaxPeakInt.html %}
    {% include /calculatorBits/tauAndMD.html %}
  </table>
</div>

<div class="outputCol">
  {% include /calculatorBits/crclOutput.html %}
  <br>
  {% include /calculatorBits/pkInitialOutput.html %}
  <br>
  {% include /calculatorBits/doubleCheck.html %}
</div>



<script src={{site.baseurl}}/javascript/aminoglycosideInitial.js></script>
<script>
function allResults() {
  crclOutput();
  pkInitialOutput();
  doubleCheckOutput();
}
</script>
