---
layout: calculator
author: Corbin Cox
title: Aminoglycoside Peak-Trough Dosing Calculator
---
<div class="inputCol">
  <table class="calculator">
    <tr>
      <th colspan="2">
        Current Patient Values
      </th>
    </tr>
    {% include /calculatorBits/ptDosingQuestions.html %}
  </table>
  <br>

  <table class="calculator">
    <tr>
      <th colspan="2">
        Desired Values
      </th>
    </tr>
    {% include /calculatorBits/peakTroughInput.html %}
    {% include /calculatorBits/infusionTimeMaxPeakInt.html %}
    {% include /calculatorBits/tauAndMD.html %}
  </table>
</div>

<div class="outputCol">
  {% include /calculatorBits/pkPtOutput.html %}
  <br>
  {% include /calculatorBits/doubleCheck.html %}
  <br>
  <table class="calculator">
    <th colspan="3">
      Next Dose Delay*
    </th>
    <tr>
      <td>
        Delay
      </td>
      <td id="doseDelayOutput"></td>
      <td>
        hr
      </td>
    </tr>
  </table>
  <p style="margin: 1em">*This value represents the <strong>minimum</strong> time elapsed between the last peak and the next administration to garuntee the drug has decreased below the desired trough concentration </p>
</div>

<script src={{site.baseurl}}/javascript/aminoglycosidePkTrough.js></script>
<script>

function allResults() {
  printResult("doseDelayOutput", (Math.log(ptPk() / cminD()) / k()).toFixed(1) )
  pkPtOutput();
  doubleCheckOutput();
}
</script>
