---
layout: calculator
author: Corbin Cox
title: Vancomycin Peak-Trough Dosing
---
<div class="inputCol">
  <table class="calculator">
    <tr>
      <th colspan="2">
        Current Patient Values
      </th>
    </tr>
    {% include /calculatorBits/ptDosingQuestions.html %}
    {% include /calculatorBits/micInput.html %}
  </table>
  <br>

  <table class="calculator">
    <tr>
      <th colspan="2">
        Desired Values
      </th>
    </tr>
    {% include /calculatorBits/peakTroughInput.html %}
    {% include /calculatorBits/infusionTimeMaxPeakInt.html %}
    {% include /calculatorBits/tauAndMD.html %}
  </table>
</div>

<div class="outputCol">
  {% include /calculatorBits/pkPtOutput.html %}
  <br>
  {% include /calculatorBits/vancDoubleCheck.html %}
  <p style="margin: 1em"><strong>Maximum Infusion Rate of 15mg/min</strong></p>
</div>



<script src={{site.baseurl}}/javascript/vancPeakTrough.js></script>
<script>
function allResults() {
  pkPtOutput();
  vancDoubleCheckOutput();
}
</script>
