---
layout: default
title: Diseases and Drugs
exclude_from_search: true
---

<h1>Diseases</h1>

{% assign disease_list = site.diseases | sort: 'title' %}
{% for entry in disease_list %}
<ul class="navList">
  <li><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
</ul>
{% endfor %}

<h1>Drug Classes</h1>

{% assign drugClass_list = site.drugClasses | sort: 'title' %}
{% for entry in drugClass_list %}
  <ul class="navList">
    <li><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
  </ul>
{% endfor %}
