---
layout: default
title: Archived Diseases and Drugs
exclude_from_search: true
---
<div class="twoCol">

<div class="col1">
<h1>Diseases</h1>

{% assign disease_list = site.diseases_old | sort: 'title' %}
{% for entry in disease_list %}
<ul class="navList">
  <li><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
</ul>
{% endfor %}
</div>

<div class="col2">
<h1>Drug Classes</h1>

{% assign drugClass_list = site.drugClasses_old | sort: 'title' %}
{% for entry in drugClass_list %}
  <ul class="navList">
    <li><a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a></li>
  </ul>
{% endfor %}

</div>
</div>
