---
layout: default
title: Home
exclude_from_search: true
---
<div class="twoCol">
  <div class="col1">
    <h1 class="center" style="margin-top: 0.25em;">Common Pages</h1>

    <h2>Diseases</h2>
    <ul style="list-style: none; margin-left: 0px">
    {% assign diseases = site.diseases | sort: 'title' %}
    {% for item in diseases %}
      {% if item.common == true %}
        <li>
          <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>

    <h2>Drug Classes</h2>
    <ul style="list-style: none; margin-left: 0px">
    {% assign drugs = site.drugClasses | sort: 'title' %}
    {% for item in drugs %}
      {% if item.common == true %}
        <li>
          <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="col2">
    <h1 class="center" style="margin-top: 0.25em;">Useful Links</h1>

    <ul style="list-style:none; margin-left:0px;">
      <li>
        <a href="http://online.lexi.com.ezproxy.lib.purdue.edu/lco/action/home?reauth" target="_blank">Lexicomp</a>
      </li>
      <li>
        <a href="https://fco-factsandcomparisons-com.ezproxy.lib.purdue.edu/action/home?siteid=5&reauth" target="_blank">Facts and Comparisons</a>
      </li>
      <li>
        <a href="http://purl.lib.purdue.edu/db/micromedex" target="_blank">Micromedex</a>
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed?otool=inpurduelib" target="_blank">Pubmed</a>
      </li>
      <li>
        <a href="http://tools.acc.org/ASCVD-Risk-Estimator-Plus/" target="_blank">ASCVD Risk Calculator</a>
      </li>
      <li>
        <a href="http://globalrph.com" target="_blank">Global RPh</a>
      </li>
      <li>
        <a href="https://www.pharmgkb.org" target="_blank">PharmGKB</a>
      </li>
    </ul>
  </div>
</div>
