---
layout: default
title: Home
exclude_from_search: true
---
<div class="twoCol">
  <div class="col1">
    <h1 class="center" style="margin-top: 0.25em;">Common Pages</h1>

    <h2>Diseases</h2>
    <ul style="list-style: none; margin-left: 0px">
    {% assign diseases = site.diseases | sort: 'title' %}
    {% for item in diseases %}
      {% if item.common == true %}
        <li>
          <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>

    <h2>Drug Classes</h2>
    <ul style="list-style: none; margin-left: 0px">
    {% assign drugs = site.drugClasses | sort: 'title' %}
    {% for item in drugs %}
      {% if item.common == true %}
        <li>
          <a href="{{ site.baseurl }}/{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  <div class="col2">
    <h1 class="center" style="margin-top: 0.25em;">Useful Links</h1>

    <ul style="list-style:none; margin-left:0px;">
      <li>
        <a href="http://online.lexi.com.ezproxy.lib.purdue.edu/lco/action/home?reauth" target="_blank">Lexicomp</a>
      </li>
      <li>
        <a href="https://fco-factsandcomparisons-com.ezproxy.lib.purdue.edu/action/home?siteid=5&reauth" target="_blank">Facts and Comparisons</a>
      </li>
      <li>
        <a href="http://purl.lib.purdue.edu/db/micromedex" target="_blank">Micromedex</a>
      </li>
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed?otool=inpurduelib" target="_blank">Pubmed</a>
      </li>
      <li>
        <a href="http://tools.acc.org/ASCVD-Risk-Estimator-Plus/" target="_blank">ASCVD Risk Calculator</a>
      </li>
      <li>
        <a href="http://globalrph.com" target="_blank">Global RPh</a>
      </li>
      <li>
        <a href="https://www.pharmgkb.org" target="_blank">PharmGKB</a>
      </li>
      <li>
        <a href="https://www.cdc.gov/vaccines/schedules/index.html" target="_blank">CDC Vaccination Schedule</a>
      </li>
    </ul>

    <h1 class="center">Expiration Dates</h1>
    <table>
      <tr>
        <td>
          Today
        </td>
        <td id="today">

        </td>
      </tr>
      <tr>
        <td>
          14d
        </td>
        <td id="day14">

        </td>
      </tr>
      <tr>
        <td>
          28d
        </td>
        <td id="day28">

        </td>
      </tr>
      <tr>
        <td>
          30d
        </td>
        <td id="day30">

        </td>
      </tr>
      <tr>
        <td>
          60d
        </td>
        <td id="day60">

        </td>
      </tr>
      <tr>
        <td>
          180d
        </td>
        <td id="day180">

        </td>
      </tr>
    </table>

  </div>
</div>

<script>
Date.prototype.addDays = function(days) {
    var date = new Date(this.valueOf());
    date.setDate(date.getDate() + days);
    return date;
}

function dates() {
  var today = new Date();

  document.getElementById("today").innerHTML = today.toLocaleDateString("en-US");
  document.getElementById("day14").innerHTML = (today.addDays(14)).toLocaleDateString("en-US");
  document.getElementById("day28").innerHTML = (today.addDays(28)).toLocaleDateString("en-US");
  document.getElementById("day30").innerHTML = (today.addDays(30)).toLocaleDateString("en-US");
  document.getElementById("day60").innerHTML = (today.addDays(60)).toLocaleDateString("en-US");
  document.getElementById("day180").innerHTML = (today.addDays(180)).toLocaleDateString("en-US");
}

window.onload = dates;
</script>
