<header id="myHeader" class="myHeader">
  <nav>
    <!-- <a href="{{ site.baseurl }}/home.html"><img src="{{ site.baseurl }}/images/logo_1000x1000.png" alt="Logo"> -->
    <a href="{{ site.baseurl }}/home.html">Home</a>
    <a href="{{ site.baseurl }}/disease_list.html">Diseases and Drugs</a>
    <a href="{{ site.baseurl }}/firstFive">TF5M</a>
    <a href="{{ site.baseurl }}/lab_values">Lab Values</a>
    <a href="{{ site.baseurl }}/formulas">Formulas</a>
    <a href="{{ site.baseurl }}/abxCalc.html">Calculators</a>
    <a href="{{ site.baseurl }}/search.html">Search</a>
    <a href="javascript:void(0);" class="icon" onclick="openMenu()">&#9776;</a>
  </nav>

  <script>
  function openMenu() {
      var x = document.getElementById("myHeader");
      if (x.className === "myHeader") {
          x.className += " responsive";
      } else {
          x.className = "myHeader";
      }
  }
  </script>
</header>
