<header>
  <nav>
    <!-- <a href="{{ site.baseurl }}/home.html"><img src="{{ site.baseurl }}/images/logo_1000x1000.png" alt="Logo"> -->
      <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/home.html">Home</a></li>
        <li><a href="{{ site.baseurl }}/disease_list.html">Diseases and Drugs</a></li>
        <li><a href="{{ site.baseurl }}/lab_values">Lab Values</a></li>
        <li><a href="{{ site.baseurl }}/formulas">Formulas</a></li>
        <li><a href="{{ site.baseurl }}/calculators/commonCalcs.html">Calculators</a></li>
      </ul>
  </nav>
</header>
