<table class="calculator">
  <tr>
    <th colspan="3">
      Kidney Function
    </th>
  </tr>
  <tr>
    <td>
      CG-CrCl
    </td>
    <td id="cgCrClOutput"></td>
    <td>
      mL/min
    </td>
  </tr>
  <tr>
    <td>
      Weight Used for CG
    </td>
    <td id="cgWeightOutput"></td>
  </tr>
  <tr>
    <td>
      CKD-Epi
    </td>
    <td id="ckdEpiOuput">
    </td>
    <td>
       (mL/min/(1.73 m^2))
    </td>
  </tr>
  <tr>
    <td>
      CKD-Epi
    </td>
    <td id="ckdEpiBSAOutput">
    </td>
    <td>
       (mL/min)
    </td>
  </tr>
</table>

<script>
function crclOutput() {
  printResult("cgCrClOutput",cgCrCl());
  printResult("cgWeightOutput",renalWeightUsed());
  printResult("ckdEpiOuput",ckdEpi());
  printResult("ckdEpiBSAOutput",ckdEpiBSA());
}
</script>
