<tr><td> CrCl (mL/min) </td>
  <td>
    <form>
      <input type=radio name="crcl" id="crclCKDEpi"  checked="checked" onclick=allResults()><label for="crclCKDEpi">CKD-Epi</label><br>
      <input type=radio name="crcl" id="crclCG" onclick=allResults()><label for="crclCG">CG-CrCl</label><br>
      <input type=radio name="crcl" id="crclCustom" onclick=allResults()><label for="crclCustom">Other:</label> <input type=text id="customCrClEntry" onkeyup=allResults() style="width:6.6em"><br>
    </form>
  </td>
</tr>
