<tr><td> Height (in) </td><td> <input type=text name="height" id="ht" onkeyup=allResults()> </td></tr>
<tr><td> Weight (kg) </td><td> <input type=text name="weight" id="wt" onkeyup=allResults()> </td></tr>
<tr><td> Age (yrs) </td><td> <input type=text name="Age" id="age" onkeyup=allResults()> </td></tr>
<tr><td> SCr (mg/dL) </td><td> <input type=text name="SCr" id="scr" onkeyup=allResults()> </td></tr>
<tr><td> Sex </td>
  <td>
    <form>
      <input type=radio name="sex" id="sexM" value="M" checked="checked" onclick=allResults()><label for="sexM">Male</label><br>
      <input type=radio name="sex" id="sexF" value="F" onclick=allResults()><label for="sexF">Female</label><br>
    </form>
  </td>
</tr>
<tr><td> Race </td>
  <td>
    <form>
      <input type=radio name="race" id="raceAA" onclick=allResults()><label for="raceAA">African American</label><br>
      <input type=radio name="race" id="raceOther" checked="checked" onclick=allResults()><label for="raceOther">Other</label><br>
    </form>
  </td>
</tr>

<script>
function wt() {
  return document.getElementById("wt").value;
}

function ht() {
  return document.getElementById("ht").value;
}

function age() {
  return document.getElementById("age").value;
}

function scr() {
  return document.getElementById("scr").value;
}

function sex() {
  if (document.getElementById("sexF").checked === true) {
    return "F";
  } else {
    return "M";
  }
}

function race() {
  if (document.getElementById("raceAA").checked == true) {
    return "AA";
  } else {
    return "W";
  }
}
</script>
